<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<ul>
  <% @links.each do |link| %>
    <li><a href="<%=link.url%>"><%= link.title %></a></li>
    <form  action='/link/delete' method="post">
      <input type="hidden" name='url' value="<%=link.url%>">
      <button type="submit">Delete</button>
    </form>
    <form action="/link/update" method="get">
      <input type="hidden" name="url" value="<%=link.url%>">
      <button type="submit">Update</button>
    </form>
  <% end %>
</ul>

<h5>Add New Link</h5>
<form action="/link/new" method="post">
  <label for="url">
    URL:
    <input type="text" name="url">
  </label>
  <label for="text">
    Title:
    <input type="text" name="title">
  </label>
  <input type="submit" value="Add Link">
</form>
